:root {
    --primaryColor: #3F3354;
    --color: #121212;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

@media (min-width:768px){ 
	html, body{ font-size:16px; }
}
@media (min-width:1200px){ 
	html, body{ font-size:18px; }
}
@media (min-width:1400px){ 
	html, body{ font-size:20px; }
}

body, input, textarea, button {
    font-family: 'brother-1816', sans-serif;
    font-weight: 400;
}

img { 
    aspect-ratio:attr(width) / attr(height); 
}

ul { 
    list-style:none; 
    margin-bottom:0; 
    margin:0; 
    padding:0; 
}

ul li { 
    margin:0; 
    padding:0; 
}

a:hover { 
    color:inherit; 
}

a, a:active, a:hover, a:link, a:visited { 
    text-decoration:none; 
    -webkit-font-smoothing:antialiased; 
    -webkit-text-shadow:rgba(0,0,0,.01) 0 0 1px; 
    text-shadow:rgba(0,0,0,.01) 0 0 1px; 
}

.container-fluid { 
    padding-right: 15px; 
    padding-left: 15px; 
    margin-right: auto; 
    margin-left: auto; 
}

.row { 
    margin-right: -10px; 
    margin-left: -10px; 
}

.header {
    position: fixed;
    width: 100%;
    height: 6rem;
    z-index: 20;
    background: #FFFFFF;
    padding: 0 0 1rem 0;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4);
}

.header-space { 
    display:block; 
    height:6rem; 
}

.header-container{ 
    margin: 0 1rem; 
}

.header-top{
    position: relative;
    width: 100vw;
    height: 1rem;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #E52862 0%, #7A6CFF 28.56%, #FFAC48 50.32%, #43BDDE 73.36%, #32CC7E 100%);
}

.header-logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/logo.png);
    background-position: -0.4rem center;
    position: relative;
    display: block;
    width: 10.5rem;
    height: 5rem;
    float: left;
}

.header-menu { 
    position: relative; 
    background-color: transparent; 
    left: auto; 
    top: 0; 
    right:0;
    width: auto; 
    height: auto;  
}

.header-menu .container-fluid { 
    display:none; 
}
	
.header-menu-nav { 
    display: flex; 
    padding: 0;
    height: 5rem; 
    height: 5rem;
    margin-left: 50rem; 
    align-items: center; 
    justify-content:space-between; 
}

.header-menu-item{ 
    margin: 0; 
}

.header-menu-item a{ 
    font-size: 0.85rem; 
    color: var(--primaryColor); 
}

.header-menu-item a:hover{ 
    text-shadow:rgba(0,0,0,.2) 0px 2 2px; 
}

footer { 
    top: 5rem;
    width: 100%;
    height: 26rem;
    position: relative; 
    display: block; 
    background: var(--primaryColor); 
}

.footer-head{
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    margin: 0 3rem 0 0;
    padding-right: 15px;
    padding-left: 15px;
}

.footer-logo { 
    position: relative; 
    width: 23%; 
    float: left;
    height: 4.2rem; 
    padding: 0; 
    margin: 1rem 0 2rem 0.5rem;
    background-repeat: no-repeat; 
    background-size: contain; 
    background-image: url(../img/logo-branco.png); 
    background-position: left center;  
}

.footer-head-title { 
    float: left;
    font-size: 0.8rem; 
    margin: 2rem 0 2rem 0;
    color: white; 
    font-weight: 200; 
    text-transform: uppercase; 
}

.footer-links { 
    position: relative; 
    display: block; 
    padding: 0; 
    list-style: none;
    float: left; 
}

.footer-links li { 
    display: block; 
    margin: 0.5rem 0; 
    padding: 0; 
    font-size: .76rem; 
    color: white; 
    font-weight: 300; 
}

.footer-links li a { 
    font-size: .9rem; 
    color: white; 
    text-decoration: none; 
    font-weight: 300; 
}

.social-media { 
    position: relative; 
    display: inline-block;  
    padding: 0; 
    list-style: none; 
}

.social-media li { 
    display: inline-block; 
    width: 1.3rem; 
    height: 1.3rem; 
    margin: 0 0.7rem 0 0; 
    padding: 0; 
}

.ico {
    display: block; 
    width: 1.3rem; 
    height: 1.3rem; 
    background-position: top left; 
    background-repeat: no-repeat; 
    background-size: contain; 
}


#instagram {
    background-image: url(../img/instagram.png);
}

#whatsapp {
    background-image: url(../img/whatsapp.png);
}

#linkedin {
    background-image: url(../img/linkedin.png);
}

#facebook {
    background-image: url(../img/facebook.png);
}

#youtube {
    background-image: url(../img/youtube.png);
}

