:root {
    --primaryColor: #3F3354;
    --color: #121212;
}

.banner {
    position: relative;
    width: 100%;
    background-color: var(--primaryColor);
    text-align: center;
    padding: 5rem 3rem 5rem 3rem;
}

.banner-title {
    display: block;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    line-height: 1.2;
    color: #FFFFFF;
    font-weight: 600;
}

.search-input {
    width: 60%;
    height: 3rem;
    padding: 0;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border-radius: 1.5rem;
    text-align: center;
}

.banner-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem 0 0 0;
    padding: 0 80px;
    padding-bottom: 3rem;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.block-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-right: 1rem;
    position: relative;
    width: 7rem;
    height: 7rem;
}

.block-title {
    font-size: 1.6rem;
    line-height: 1.4;
    color: var(--primaryColor);
    font-weight: 600;
    flex-wrap: wrap;
}

.block-subtitle{
    font-size: 1.3rem;
    padding: 1rem 0;
    line-height: 1.4;
    color: var(--primaryColor);
    font-weight: 600;
}

.block-text,
.item-text {
    line-height: 1.5;
    color: var(--grayscale-gray-800, #4B4B4B);
}

.block-text {
    padding-bottom: 1.2rem;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    margin: 4rem 0;
}

.container-title {
    padding-bottom: 3rem;
    font-size: 2rem;
    color: var(--primaryColor);
    font-weight: 600;
}

.accordion {
    width: 99%;
}

.accordion-item {
    background-color: var(--grayscale-gray-100, #FAFAFA);
    color: var(--grayscale-gray-800, #4B4B4B);
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
}

.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
}

.container-list {
    width: 100%;
}

.list {
    margin: 0;
    padding-bottom: 0;
    list-style: none;
}

.item {
    display: flex;
    padding: 1.2rem;
    flex-direction: column;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 1.5rem;
    background-color: var(--grayscale-gray-100, #FAFAFA);
    border-left: 4px solid var(--primaryColor);
    transition: all 0.3s ease;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.list-title {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
    position: relative;
    z-index: 1;
    line-height: 24px;
}

.list-text {
    position: relative;
    z-index: 1;
    opacity: 0.7;
}

.item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.3s ease;
}

.item:hover {
    color: #fff;
}

.item:hover:after {
    width: 100%;
    transition: width 0.3s ease;
}

.item:after {
    background: var(--primaryColor);
}

@media (max-width:1400px) {
    .search-input {
        width: 60%;
    }

    .banner-container {
        margin: 3rem 0 0 0;
        padding: 0 100px;
    }

    .container {
        padding: 0 100px;
        margin: 4rem 0;
    }

    .container-title {
        padding-bottom: 2rem;
    }

    .block-image {
        width: 8rem;
        height: 8rem;
    }

    .block-title {
        padding-top: 1rem;
    }
}

@media (max-width:1200px) {
    .search-input {
        width: 70%;
    }

    .banner-container {
        margin: 3rem 0 0 0;
        padding: 0 90px;
    }

    .container {
        padding: 0 90px;
        margin: 4rem 0 0 0;
    }

    .container-title {
        padding-bottom: 2rem;
    }

    .block-image {
        width: 8rem;
        height: 8rem;
    }

    .block-title {
        padding-top: 1rem;
    }

}

@media (max-width:768px) {
    .search-input {
        width: 80%;
    }

    .banner-container {
        flex-direction: column;
        align-items: center;
        margin: 3rem 0 0 0;
        padding: 0 70px;
    }

    .container {
        padding: 0 70px;
        margin: 4rem 0 0 0;
    }

    .container-title {
        padding-bottom: 2rem;
    }

    .block {
        display: flex;
        flex-direction: column;
        align-items: start;
        flex-wrap: wrap;
    }

    .block-image {
        width: 7rem;
        height: 7rem;
    }

    .block-title {
        padding-top: 1rem;
    }

    .item-icon {
        width: 12rem;
        height: 12rem;
    }
}

#processo {
    background-image: url(../img/integracao.png);
}

#requisicao {
    background-image: url(../img/limite.png);
}

#estoque {
    background-image: url(../img/estoque.png);
}

#preco {
    background-image: url(../img/preco.png);
}

#cliente {
    background-image: url(../img/cliente.png);
}

#status {
    background-image: url(../img/status.png);
}

#credito {
    background-image: url(../img/credito.png);
}

#pedido {
    background-image: url(../img/pedido.png);
}

#pagamento {
    background-image: url(../img/pagamento.png);
}

#trackings {
    background-image: url(../img/tracking.png);
}