html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.header {
    position: fixed;
    width: 100%;
    height: 6rem;
    z-index: 20;
    background: #FFFFFF;
    padding: 0 0 1rem 0;
}

.header-top{
    position: relative;
    width: 100vw;
    height: 1rem;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #E52862 0%, #7A6CFF 28.56%, #FFAC48 50.32%, #43BDDE 73.36%, #32CC7E 100%);
}

.header-logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../img/logo.png);
}